{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<div class="container">
    <h1>Список задач</h1>
    <div class="section-title">Задачи</div>
    <div class="card-list">
        {% for task in tasks %}
            <a href="{{ url_for('views.task', task_name=task) }}" class="card">
                <div class="card-title">{{ task }}</div>
                <div class="card-description">Решите эту задачу и проверьте свои навыки программирования</div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}