<!-- login.html -->
{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='reg-log.css') }}">
<div class="form-container">
    <h1>Вход</h1>
    <form method="POST">
        <p>Email: <input type="email" name="email" required></p>
        <p>Пароль: <input type="password" name="password" required></p>
        <p><input type="submit" value="Войти"></p>
    </form>
    <p>Нет аккаунта? <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a></p>
</div>
{% endblock %}