<!-- reset_password.html -->
{% extends "base.html" %}
{% block title %}Контест - Ввод нового пароля{% endblock %}
{% block content %}
<div class="form-container">
    <div class="card">
        <div class="card2">
            <form class="form" method="POST" action="{{ url_for('auth.update_password') }}">
                <p id="heading">Введите новый пароль</p>
                <input type="hidden" name="email" value="{{ email }}">
                <div class="field">
                    <input type="password" class="input-field" placeholder="Новый пароль" name="new_password" required autoComplete="off" />
                </div>
                <div class="field">
                    <input type="password" class="input-field" placeholder="Повторите новый пароль" name="confirm_password" required autoComplete="off" />
                </div>
                <div class="btn">
                    <button type="submit" class="submit-button">Сохранить новый пароль</button>
                </div>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}